---
layout: default
---

<div class="home">

    Welcome to the Stitch & Press site.
    You can find more about Stitch & Press
    <a href="{{ site.baseurl }}/about/">here.</a>
    You can buy our products in our
    <a href="{{ site.baseurl }}/store/">store.</a>

</div>
