---
title: Store
layout: default
permalink: /store/
---
<div class="slider">
    <div class="content">
        <div id="panel" class="page">
            <div class="cssload-loader">
                <p>Loading your Stitch & Press experience...</p>
                <div class="cssload-loader-spinny">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
            </div>
        </div>
        <div class="page hidden-page" id="editor">
            {% comment %}  <!-- Editor is always "there", just over to the side. --> {% endcomment %}
            <strong>Initalizing editor...</strong>
        </div>
    </div>
</div>
<script defer src="{{ site.baseurl }}/js/store/app.js"></script>
