.slider {
  overflow: hidden;
}

.slider .content {
  overflow: hidden;
  position: relative;
}

.slider .content .page {
  width: 100%;
  display: block;
  float: left;
}
.slider .content .page.hidden-page {
  display: none;
}
